/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --decorated-color: #353430;
  --text-color-title: #353430;
  --section-title-color: var(--text-color-title);
  --header-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-focus-color: #353430;
}

.theme_light .header__rectangle {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --decorated-color: #353430;
    --text-color-title: #353430;
    --section-title-color: var(--text-color-title);
    --header-title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --hover-color: rgba(50, 49, 45, 0.4);
    --button-focus-color: #353430;
  }

  .theme_auto .header__rectangle {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
