/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  gap: 36px;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--font-family, "IBM Plex Mono");
  font-weight: var(--font-weight-paragraph, 400);
  font-size: var(--font-size-text, 18px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media (width >= 768px) {
  .page {
    gap: 56px;
    padding: 20px;
  }
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding-block-end: 15px;
}
@media (width >= 768px) {
  .header {
    padding-block-end: 40px;
  }
}
.decorated-zone {
  position: relative;
  color: var(--decorated-color);
}
.decorated-zone::before {
  content: " ";
  position: absolute;
  right: 0;
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inline-size: 25px;
  block-size: 25px;
}
.decorated-zone::after {
  content: " ";
  position: absolute;
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inset-block-end: 15px;
  inline-size: 25px;
  block-size: 25px;
}
@media (width >= 768px) {
  .decorated-zone::after {
    inset-block-end: 40px;
  }
}
.header__rectangle {
  position: absolute;
  inset-inline-end: 0;
}

.header__rectangle::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  line-height: 139%;
  text-align: center;
  inset-inline-end: 28px;
}
.header__rectangle::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--shadow-color);
  background-color: var(--accent-color);
  inset-inline-end: 9px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
}
.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  color: var(--decorated-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}
.header__theme-menu-item {
  justify-self: center;
  align-self: start;
}
@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--decorated-color);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
}
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}
.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--title-h1-color);
  font-weight: var(--font-weight-title, 700);
  font-size: var(--font-size-title); /*116px*/
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}
@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
  }
}
.title-decor {
  color: var(--text-color-title, #000028);
  font-weight: var(--font-weight-title, 700);
  font-size: inherit;
  line-height: 130%;
  background: var(--accent-color, #ff0070);
}
.header__paragraph {
  justify-self: center;
  align-self: center;
}
@media (width >= 768px) {
  .header__paragraph {
    justify-self: right;
    max-width: 50%;
  }
}

/* -----maim----- */
.content {
  display: grid;
  gap: 52px;
}
@media (width >= 768px) {
  .content {
    gap: 82px;
  }
}
.section {
  display: grid;
  gap: 22px;
}
.section__title {
  color: var(--accent-color);
  font-weight: var(--font-weight-title);
  font-size: inherit;
  line-height: 130%;
}
.card {
  display: grid;
  gap: 10px;
}

.card__link {
  text-shadow: 2px 2px 0 var(--shadow-color);
}
.card__link:focus-visible {
  outline: 1px solid currentColor;
}
.card__link:hover {
  border-block-end: 1px solid currentColor;
}
.section__gallery {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.picture {
  display: grid;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}
@media (width >= 768px) {
  .card {
    gap: 9px;
  }
  .section:nth-of-type(1) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .section:nth-of-type(1) .section__title {
    grid-row: span 2;
  }
  .section:nth-of-type(2) .section__title {
    display: grid;
    grid-template-columns: min-content;
  }
  .section:nth-of-type(3) {
    grid-template-columns: 1fr 2fr;
  }
  .section:nth-of-type(3) .section__title {
    grid-row: 1 / 7;
  }
  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .gallery__title {
    grid-column: span 3;
  }

  .image:nth-of-type(1) {
    grid-column: span 2;
  }
  .image:nth-of-type(2) {
    grid-row: span 2;
  }
  .image:nth-of-type(3) {
    grid-row: span 2;
  }

  .image:nth-of-type(5) {
    grid-column: span 2;
  }
}
@media (width >= 1024px) {
  .section:nth-of-type(2) .section__title {
    grid-template-columns: fit-content(33%);
    grid-column: span 3;
  }
  .section:nth-of-type(2) .card {
    grid-template-rows: repeat(2, min-content);
  }
}

/* ----Footer----- */
.footer {
  display: grid;
  height: 100vh;
  color: var(--title-h1-color);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  line-height: 83%;
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 0 var(--accent-color);
}
